{
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "app"]
      }
    }
  }
}
